html, body {
    height: 100%;
}
body {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #e8e6da;
}

a {
	color: #6d8590;
	text-decoration: none;
	outline: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.titlebar {
  display: flex;
  flex-direction: row;
  background-color: #404040;
  border-bottom: 3px #fe0000 solid;
  padding: 0.6rem 1rem;
}

.titlebar h1 {
  align-self: flex-start;
  margin: 0 0;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  color: #fefefe;
}

.titlebar .buttonbar {
  margin-left: auto;
  margin-top: auto;
}

button.NewTodo {
  color: #fefefe;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px 8px;
  border:1px solid #000;
  background-color: #5dd361;
}

button.NewTodo:hover {
  background-color: #7df381;
  cursor: pointer;
}

.maincontent {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  overflow-y: auto;
  padding-right: 10px;
  padding-left:  10px;
  background-color: #fefefe;
}

.footer {
  background-color: #404040;
  padding: 5px 10px;
  color: #fefefe;
}

.popupOuter {
  position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.popupInner {
	width: 100%;
	height: 100%;
	background-color: rgba(96, 96, 96, 0.5);
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupWindow {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fefefe;
  min-width: 200px;
  z-index: 900;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.popupTitle {
  background-color: #404040;
  color: #fefefe;
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
}

.popupButtons {
  align-self: center;
  padding: 0.6rem 0.4rem;
}

input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
}

textarea {
  padding: 0.3rem;
}

td.formLabel {
  padding-top: 0.35rem;
  vertical-align: top;
}
